
<h1>Your Carts</h1>

<% if user_signed_in? %>
	<table class="table table-striped table-hover table-bordered">
	  <thead class="thead-dark">
	    <tr>
	      <th>Name</th>
	      <th>Prices</th>
	      <th>Description</th>
	      <th></th>
	    </tr>
	  </thead>

	  <tbody>

		    <% @products.each do |product| %>
				<% if current_user.email == product.user.email %>
		          <tr>
		            <td><%= link_to product.name, product %></td>
		            <td><%= product.prices %></td>
		            <td><%= product.description %></td>
                    <td><%= link_to 'Remove', product, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-outline-danger' %></td>
		            <td><%= link_to 'Remove', product, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-outline-danger' %></td>
		          </tr>
			    <% end %>
			<% end %>
	  </tbody>
	</table>

<br>

<%= link_to 'Check Out', new_product_path, class:"btn btn-secondary" %>

<% else %>	
<b>You need to login</b>
<% end %>
