<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @general_product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @general_product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @general_product.description %>
</p>

<%= link_to 'Edit', edit_general_product_path(@general_product) %> |
<%= link_to 'Back', general_products_path %>
