
<h1>My Product Baskets</h1>

<table class="table table-striped table-hover table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Prices</th>
      <th>Description</th>
      <!-- <th>User Id</th> -->
      <th>User Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>


          <tr>
            <td><%= link_to product.name, product %></td>
            <td><%= product.prices %></td>
            <td><%= product.description %></td>
            <!-- <td><%= product.user_id %></td> -->
            <td><%= product.user.email %></td>
            <td><%= link_to 'Remove', product, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-outline-danger' %></td>
          </tr>



    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path, class:"btn btn-secondary" %>

    