
<div class="jumbotron">
  <h1 class="display-4">
  	  <%= @product.name %>
  </h1>
  <p class="lead">  
  	<%= @product.description %>
  	<br/>
  	Price: $  <%= @product.prices %>
  </p>

<br/>
<%= link_to 'Edit', edit_product_path(@product), class:"btn btn-secondary"  %>
<%= link_to 'Back', products_path, class:"btn btn-dark" %>
</div>


<p id="notice"><%= notice %></p>


<div class="container">
  <div class="row">
    <div class="col-sm">
      <h4>Reviews</h4>
          <table class="table">
            <thead>
              <tr>
                <th>Comment</th>
                <th>Date</th>
              </tr>
            </thead>

            <tbody>
              <% @product.reviews.each do |review| %>
                <tr>
                  <td><%= review.comment %></td>
                  <td><%= review.date %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

    </div>
    <div class="col-sm">
      
        <h4>Post Review</h4>

        <%= form_with(model: @product.reviews.new) do |form| %>
          <div class="field form-group">
            <%= form.label :comment %>
            <%= form.text_field :comment, class:"form-control" %>
          </div>

          <div class="field form-group">
            <%= form.label :date %>
            <%= form.datetime_select :date, class:"form-control" %>
          </div>


          <div class="field">
            <%= form.number_field :product_id, value: @product.id, type: :hidden%>
          </div>

          <div class="action">
            <%= form.submit class:'btn btn-secondary' %>
          </div>
        <% end %>

    </div>
  </div>
</div>






<br>


